footer{
    align-items: center;
    background-color: white;
    border-top: solid #CCCCCC 1px;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    width: 100%;
}